<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>

    
    <div class="mb-1">
        <h1>All Campgrounds</h1>
        <a href="/campgrounds/new"  type="button" class="btn btn-info mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
</svg> &nbsp;
Add Campground</a> 
    </div>

    <% for (let campground of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                 <%   if(campground.length) { %>
<img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                <% } else { %>
<img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
              <% }%>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id%>"" class=" btn btn-primary">View <%= campground.title
                                %>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <% }%>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>

        <script src="../javascripts/clusterMap.js"></script>